.br{
    display: block;
    margin-bottom: 0em;
}

.index-body{
    background-color: rgb(65, 65, 65);
}
.break-container{
    width: 80%;
}
/*Left Break: Contact info, resources, my links, project links*/
.leftbreak{
    position: fixed;
    background-color: rgba(80, 80, 80, 0.3);
    width: 15%;
    height: 150%;
    
}
/*Right Break: Resume side*/
.rightbreak{
    background-color: rgba(255, 194, 62, 0.5);
    width: 85%;
    margin-left: 15%;
    height: 150%;

    position: absolute;
}

.basic-information{
    width: 80%;
    border: 4px solid black;
    padding: 10px;
    margin-left: 10%;
    margin-top: 2%;
}

.my-skills{
    width: 80%;
    border: 4px solid black;
    padding: 10px;
    margin-left: 10%;
    margin-top: 2%;
}

.my-talents{
    width: 80%;
    border: 4px solid black;
    padding: 10px;
    margin-left: 10%;
    margin-top: 2%;
}

.my-education{
    width: 80%;
    border: 4px solid black;
    padding: 10px;
    margin-left: 10%;
    margin-top: 2%;
}

.achievements{
    width: 80%;
    border: 4px solid black;
    padding: 10px;
    margin-left: 10%;
    margin-top: 2%;
}