.navigation-bar
{
    position: fixed;
    top: 0;
    width: 100%;

    background-color: lightsalmon;
}

.main-Title
{
    text-align: center;
    font-size: xx-large;
    background-color: salmon;
}

.nav-slider
{
    text-align: right;
    padding-right: 2%;
    font-size: large;
}